<div class="container" *ngIf="project">
  <h2> EDIT PROJECT </h2>
  <form  #myForm="ngForm">
    <div class="form-group">
      <label>Association: </label>
      <input type="text" [(ngModel)]="project.association" name="association" class="form-control" placeholder="Nombre de la asociación">
    </div>
    <div class="form-group">
      <label>Title: </label>
      <input type="text" [(ngModel)]="project.title" name="title" class="form-control" placeholder="Título del proyecto">
    </div>
    <div class="form-group">
      <label>Description: </label>
      <input type="text" [(ngModel)]="project.description" name="description" class="form-control" placeholder="Descripción del proyecto">
    </div>
    <div class="form-group">
      <label>Coordinate lat: </label>
      <input type="number" [(ngModel)]="project.lat" name="lat" class="form-control" placeholder="latitude del proyecto">
    </div>
    <div class="form-group">
      <label>Coordinate lng: </label>
      <input type="number" [(ngModel)]="project.lng" name="lng" class="form-control" placeholder="longitude del proyecto">
    </div>

    <div class="form-group">
      <label>Beneficiaries: </label>
      <input type="text" [(ngModel)]="project.benificiaries" name="beneficiaires" class="form-control" placeholder="Beneficiarios del proyecto">
    </div>
    <div class="form-group">
      <label>ProjectURL: </label>
      <input type="text" [(ngModel)]="project.link" name="link" class="form-control" placeholder="URL del proyecto">
    </div>
    <div class="form-group">
      <label>Financing: </label>
      <input type="text" [(ngModel)]="project.financing" name="financing" class="form-control" placeholder="Financiación del proyecto">
    </div>
    <div class="form-group">
      <label>Category: </label>
      <input type="text" [(ngModel)]="project.category" name="category" class="form-control" placeholder="Categoría del proyecto">
    </div>
    <button type="submit" (click)="editProject()" class="btn btn-primary">Save</button>

  </form>
</div>
