<!-- nav bar -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/projects/cat', 'cooperation']">Cooperation Projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/projects/cat', 'social-action']">Social Action Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/projects/cat', 'education']">Education Projects</a>
      </li>
    </ul>
  </div>
</nav>

<div class="img">
  <h1> COMPARTIENDO DESARROLLO </h1>
  <img src="../../assets/images/logo.png" alt="code">
</div>


<!-- formulario login/signup -->

<div class="container">
  <h2> Login or signup </h2>
  <form #myForm="ngForm">
    <div class="form-group">
      <label>Username</label>
      <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" (click)="login(myForm.value.username, myForm.value.password )" class="btn btn-primary">Login</button>
    <button type="submit" (click)="signup(myForm.value.username, myForm.value.password, myForm.value.email )" class="btn btn-primary">SignUp</button>

  </form>
</div>

<div class="mapa">
  <h2> Map </h2>
  <agm-map [latitude]="1.684034" [longitude]="23.023188" [zoom]="4">
    <agm-marker *ngFor="let project of projects" [latitude]="project.lat" [longitude]="project.lng">
      <agm-info-window [maxWidth]="100">Association: {{project.association}}, Title: {{project.title}}</agm-info-window>
    </agm-marker>
  </agm-map>
</div>
