<h1> COMPARTIENDO DESARROLLO </h1>

<div *ngIf="!auth.user">
  <form>
    <label> Username </label>
    <input type="text" [(ngModel)]="username" name="username"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="password" name="password"/>

    <button (click)="login(username,password)"> login </button>
    <button (click)="signup()"> signup </button>
  </form>
  <p class="error"> {{ error }} </p>
</div>

<div *ngIf="auth.user">
  <h2>Welcome {{auth.user.username}}</h2>
  <a href="#" (click)="logout()">Logout {{auth.user.username}}</a>
</div>

<div class="card">
  <agm-map>
    <agm-marker *ngFor="let project of projects" [latitude]="project.lat" [longitude]="project.lng"></agm-marker>
  </agm-map>
</div>

<button type="button" class="btn btn-lg btn-pill btn-success" [routerLink]="['/projects/cat', 'cooperation']">Cooperation Projects</button>
<button type="button" class="btn btn-lg btn-pill btn-success" [routerLink]="['/projects/cat', 'social-action']">Social Action Projects</button>
<button type="button" class="btn btn-lg btn-pill btn-success" [routerLink]="['/projects/cat', 'education']">Education Projects</button>
