<div id="new" class="container">
  <h2> CREATE PROJECT </h2>
  <form  #myForm="ngForm">
    <div class="form-group">
      <label>Association: </label>
      <input type="text" [(ngModel)]="association" name="association" class="form-control" placeholder="Nombre de la asociación">
    </div>
    <div class="form-group">
      <label>Title: </label>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Título del proyecto">
    </div>
    <div class="form-group">
      <label>Description: </label>
      <input type="text" [(ngModel)]="description" name="description" class="form-control" placeholder="Descripción del proyecto">
    </div>
    <div class="form-group">
      <label>Coordinate lat: </label>
      <input type="number" [(ngModel)]="lat" name="lat" class="form-control" placeholder="latitude del proyecto">
    </div>
    <div class="form-group">
      <label>Coordinate lng: </label>
      <input type="number" [(ngModel)]="lng" name="lng" class="form-control" placeholder="longitude del proyecto">
    </div>

    <div class="form-group">
      <label>Beneficiaries: </label>
      <input type="text" [(ngModel)]="beneficiaires" name="beneficiaires" class="form-control" placeholder="Beneficiarios del proyecto">
    </div>
    <div class="form-group">
      <label>ProjectURL: </label>
      <input type="text" [(ngModel)]="url" name="url" class="form-control" placeholder="URL del proyecto">
    </div>
    <div class="form-group">
      <label>Financing: </label>
      <input type="text" [(ngModel)]="financing" name="financing" class="form-control" placeholder="Financiación del proyecto">
    </div>
    <button type="submit" (click)="createProject(myForm.value)" class="btn btn-primary">Save</button>

  </form>
</div>
