
<div class="container login">
  <div class="col-xs-1 col-sm-9">
    <h2>Welcome {{auth.user.username}}</h2>
    <form>
      <div class="form-group">
        <label for="favourite">My favourites projects</label>
        <input id="favourite" class="form-control"  type="text" [(ngModel)]="name" name="username" placeholder="My favourites projects">
      </div>
    </form>
  </div>
</div>

<div>
  <button type="submit" (click)="logout()" class="btn btn-primary">Logout</button>
</div>

<!-- <ul>
  <li *ngFor="let m of chat.messages"><b>{{m.username}}</b>: {{m.message}}</li>
</ul>
<input type="text" [(ngModel)]="m">
<button (click)="chat.sendMessage(m); m=''"> Send Message </button> -->
